{% extends "base.html" %}
{% block title %}
    Печать чека к заказу: {{claim.id}}
{% endblock %}
{% block style %}
    <style>
       .leftstr, .rightstr {
        float: left; /* Обтекание справа */ 
        width: 50%; /* Ширина текстового блока */ 
       }
       .rightstr {
        text-align: right; /* Выравнивание по правому краю */ 
       }
       .author {
        text-align: right; /* Выравнивание по правому краю */ 
        width: 100%;
       }
       @page {size:'landscape;'} 
      </style>
{% endblock %}
{% block content %}
    <h2>Чек к заказу: {{claim.id}}</h2>
   
    <table border=1>
        <tr>
            <th>Количество мезуз</th>
            <th>Дата заказа</th>
            <th>Дата установки</th>
            <th>Кто установил</th>
            <th>Стоимость</th>
            <th>Оплачено</th>
            <th>Дата оплаты</th>
            <th>Принимал заказ</th>
        </tr>
        <tr>
                <td>{{claim.number}}</td>
                <td>{{claim.date_of_claim}}</td>
                <td>{{claim.date_of_installation}}</td>
                <td>{{claim.worker.fio}}</td>
                <td>{{claim.payment}}</td>
                <td>{{claim.get_cash}}</td>
                <td>{{claim.date_of_payment}}</td> 
                <td>{{claim.seller.fio}}</td> 
        </tr>
    </table>
    <p class='rightstr'>Подпись ____________________________/{{manager.fio}}/</p>

{% endblock %}