    {% if form.errors %}
    {#    {{form.errors}} #}
    {% endif %}
    <form method="post" action="javascript:send('/new_worker/','new_worker_form','message');" id="new_worker_form">
        {% csrf_token %}
		<div class="new_worker_table">
			<div class="clients_title">
				Добавление нового исполнителя
			</div>

{#			<table> #}
				{{ form.as_p }}
				{# {{ form.as_table }} #}
			{#</table>#}
		</div>
    <input id="new_worker_submit" class="button" type="button" value="Отправить" onClick="send('/new_worker/','new_worker_form','message');" />
	<div class="separator_grey">
		<hr />
	</div>

    </form>