{% extends "RUS/base.html" %}
{% block title %}
    Мицва CMS. Главная страница
{% endblock %}
{% block style %}
    <meta http-equiv="refresh" content="60">
    {# горячие клавиши #}
    <script>
	document.onkeydown = function(e) {
	    e = e || event;
	    if (e.keyCode == 27) { // escape
		cancel();
		return false;
	    }
	    if ((e.ctrlKey && e.altKey && e.keyCode == 'N'.charCodeAt(0))) {
		window.open("/new_client/",'_blank');
		return false;
	    }
	}

    </script>
{% endblock %}

{% block content %}

    {% if admin %}
    {% endif %}
    <br />
    {% if alert %}
        <script>alert("Появились новые напоминания!")</script>
    {% endif %}
    {% if my_error %}
        {% for error in my_error %}
            <h2>{{error}}</h2><br />
        {% endfor %}
    {% endif %}
    <div class="button add_client">
		<a href="/new_client/">Добавить клиента</a>
	</div>
	<div class="button add_manager">
     <a href="/accounts/register/">Добавить продавца/менеджера</a>
	</div>
	<div class="hr1">
		<hr />
	</div>
	<div class="clients">
		<div class="clients_title">
			Активные клиенты
		</div>
		<table>
			<tr>
				<th>ID</th>
				<th>ФИО</th>
			</tr>
			<tr>
				<td colspan=2>
					<div class="table_header_separator"><hr /></div>
				</td>
			</tr>
			{% if clients_to_show %}
				{% for client in clients_to_show %}
					<tr>
						<td>
							{{client.id}}
						</td>
						<td>
							{% ifequal client.priority 1 %}
								<li class="first_prior">&#11014;
							{% endifequal %}                            
							{% ifequal client.priority 2 %}
								<li class="second_prior">&#8657;
							{% endifequal %}                            
							{% ifequal client.priority 3 %}
								<li class="third_prior">
							{% endifequal %}                            
							{% ifequal client.priority 4 %}
								<li class="fourth_prior">&#8659;
							{% endifequal %}                            
							{% ifequal client.priority 5 %}
								<li class="fifth_prior">&#11015;
							{% endifequal %}
							{% ifequal client.category.name 'Звонки' %}
								&#9743;
							{% endifequal %}                            
							<a href="../client/{{client.id}}" title="{{client.description}}" target="_blank">{{client.fio}}</a> 
							{% comment %}
								<a href="../set_reminder/{{client.id}}" title="Установить напоминалку">&#8986;</a> 
								{% ifnotequal client.category.name 'Звонки' %}
									<a href="../move_to_call/{{client.id}}" title="Переместить в звонки">&#9742;</a>
								{% endifnotequal %}
							{% endcomment %}
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<div class="table_separator"><hr /></div>
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
		<div class="footer_links">
			<a href="../all_clients/">Просмотреть всех клиентов и поиск(архив)</a>
		</div>
	</div>

{% endblock %}
