{% extends "base.html" %}
{% block title %}
    История заказов: {{task.fio}}
{% endblock %}
{% block style %}
    <style>
       .leftstr, .rightstr {
        float: left; /* Обтекание справа */ 
        width: 50%; /* Ширина текстового блока */ 
       }
       .rightstr {
        text-align: right; /* Выравнивание по правому краю */ 
       }
       .author {
        text-align: right; /* Выравнивание по правому краю */ 
        width: 100%;
       }
      </style>
{% endblock %}
{% block content %}
    <p class="leftstr"><a href="/">На главную</a></p>
    <p class="rightstr">Привет, {{ fio.fio }}!</p>
    {% if my_error %}
        {% for error in my_error %}
            <h2>{{error}}</h2><br />
        {% endfor %}
    {% endif %}
    <div style="clear:both">
    <form method="post" action="">
        {% csrf_token %}
        <table border=1>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Добавить заказ" name="add_comment" /> 
    </form></div>
    
    <table border=1>
        <tr>
            <th>Количество мезуз</th>
            <th>Дата заказа</th>
            <th>Дата установки</th>
            <th>Кто установли</th>
            <th>Стоимость</th>
            <th>Оплачено</th>
            <th>Дата оплаты</th>
            <th></th>
        </tr>
        {% for claim in claims %}
            <tr>
                <td>{{claim.number}}</td>
                <td>{{claim.date_of_claim}}</td>
                <td>{{claim.date_of_installation}}</td>
                <td>{{claim.worker.fio}}</td>
                <td>{{claim.payment}}</td>
                <td>{{claim.get_cash}}</td>
                <td>{{claim.date_of_payment}}</td> 
                <td>
                    <a href="/print/payment/{{claim.id}}" target="_blank" title="Печатать чек">&#12212;</a>
                    <a href="/edit_payment/{{claim.id}}" title="Редактировать">&#9998;</a>
                    {# <a href="/debt/{{claim.id}}" title='Оплата долга' onclick='if (a = prompt("Введите сумму доплаты","{{claim.rest_cash}}")) {window.location.replace("/debt/4/"+a)} else {return false}'>$</a> #}
                    <input type="button" title='Оплата долга' onclick='if (a = prompt("Введите сумму доплаты","{{claim.rest_cash}}")) {window.location.replace("/debt/{{claim.id}}/"+a)} else {return false}' value="$" />
                </td>
            </tr>
         {% endfor %}
    </table>

{% endblock %}