{% extends "ENG/base.html" %}
{% block title %}
    Check for the claim №{{claim.id}}
{% endblock %}
{% block style %}
    <style>
       .leftstr, .rightstr {
        float: left; /* Обтекание справа */ 
        width: 50%; /* Ширина текстового блока */ 
       }
       .rightstr {
        text-align: right; /* Выравнивание по правому краю */ 
       }
       .author {
        text-align: right; /* Выравнивание по правому краю */ 
        width: 100%;
       }
       @page {size:'landscape;'} 
      </style>
{% endblock %}
{% block content %}
    <h2>Check for the claim №{{claim.id}} of {{claim.date_of_claim}}</h2>
   
    <table border=1 cellpadding=2>
        <tr>
            <th>№№</th>
            <th>Position</th>
            <th>Price</th>
        </tr>
        {% if mezuzas %}
            {% for item in mezuzas %}
                <tr>
                        <td>{{item.id}}</td>
                        <td>Mezuzah: {{item.description}}</td>
                        <td>{{item.payment}} руб.</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if mezuzas %}
            {% for item in tfilins %}
                <tr>
                        <td>{{item.id}}</td>
                        <td>Tfillin: {{item.description}}</td>
                        <td>{{item.payment}} руб.</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if bdika %}
            <tr>
                    <td>{{bdika.id}}</td>
                    <td>Bdika: {{bdika.description}}</td>
                    <td>{{bdika.payment}} руб.</td>
            </tr>
        {% endif %}    
        <tr>
            <td colspan='2'>In total</td>
            <td>{{claim.full_pay}} руб.</td>
        </tr>
        <tr>
            <td colspan='2'>Discount</td>
            <td>{{claim.discount}} руб.</td>
        </tr>
        <tr>
            <td colspan='2'>Paid</td>
            <td>{{claim.get_cash}} руб.</td>
        </tr>
        <tr>
            <td colspan='2'>Debt</td>
            <td>{{claim.rest_cash}} руб.</td>
        </tr>        
        </table>
    <p class='rightstr'>Signature ____________________________/{{manager.fio}}/</p>

{% endblock %}