{% extends "ENG/base.html" %}
{% block title %}
    Mitzva CMS. Home page
{% endblock %}
{% block style %}
    <meta http-equiv="refresh" content="60">
    {# горячие клавиши #}
    <script>
	document.onkeydown = function(e) {
	    e = e || event;
	    if (e.keyCode == 27) { // escape
		cancel();
		return false;
	    }
	    if ((e.ctrlKey && e.altKey && e.keyCode == 'N'.charCodeAt(0))) {
		window.open("/new_client/",'_blank');
		return false;
	    }
	}

    </script>
{% endblock %}

{% block content %}

    {% if admin %}
    {% endif %}
    <br />
    {% if alert %}
        <script>alert("New clients alert!")</script>
    {% endif %}
    {% if my_error %}
        {% for error in my_error %}
            <h2>{{error}}</h2><br />
        {% endfor %}
    {% endif %}
     <p align="center"><a href="/new_client/">Add client</a></p>
     <p align="center"><a href="/accounts/register/">Add seller/manager</a></p>
    <table>
        <tr>
            <th>Active clients</th>
            <th></th>
        </tr>
        <tr>
            <td>
                {% if clients_to_show %}
                    <ol>
                        {% for client in clients_to_show %}
                            {% ifequal client.priority 1 %}
                                <li class="first_prior">&#11014;
                            {% endifequal %}                            
                            {% ifequal client.priority 2 %}
                                <li class="second_prior">&#8657;
                            {% endifequal %}                            
                            {% ifequal client.priority 3 %}
                                <li class="third_prior">
                            {% endifequal %}                            
                            {% ifequal client.priority 4 %}
                                <li class="fourth_prior">&#8659;
                            {% endifequal %}                            
                            {% ifequal client.priority 5 %}
                                <li class="fifth_prior">&#11015;
                            {% endifequal %}
                            {% ifequal client.category.name 'Звонки' %}
                                &#9743;
                            {% endifequal %}                            
                            <a href="../client/{{client.id}}" title="{{client.description}}" target="_blank">{{client.fio}}</a> <a href="../set_reminder/{{client.id}}" title="Set reminder">&#8986;</a> 
                            {% ifnotequal client.category.name 'Звонки' %}
                                <a href="../move_to_call/{{client.id}}" title="Move to call">&#9742;</a>
                            {% endifnotequal %}
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </td>
            <td>
               
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                {% if clients_to_confirm %}
                    <h4>Заявки на подтверждение</h4>
                    <form action='' method='post'>
                        {% csrf_token %}
                        <ol>
                            {% for client in clients_to_confirm %}
                                <li>
                                    <input type='checkbox' value='{{client.id}}' name='client_to_confirm_id' />
                                    <a href="../confirm/{{client.id}}" title="{{client.description}}" target="_blank">{{client.fio}}</a>
                                    <a href="../unclose/{{client.id}}" title="Отменить закрытие задачи" onclick="if (confirm('Уверены?')) {return true} else {return false};"> &#10008;</a>
                                    <a href="../client/{{client.id}}" title="Просмотреть описание задачи задачи"> &#9776;</a>
                                </li>
                            {% endfor %}
                        </ol>
                        <input type='submit' value='Подтвердить несколько задач' name='submit_many' onclick="if (confirm('Уверены?')) {return true} else {return false};"/>
                    </form>
                {% endif %}
            </td>
            <td  width="70%">
            </td>
        </tr>
    </table>
    <a href="../all_clients/">All clients, client search & archive</a>
{% endblock %}
