<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5//EN>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
    <style>
       .leftstr, .rightstr {
        float: left; /* Обтекание справа */ 
        width: 50%; /* Ширина текстового блока */ 
       }
       .rightstr {
        text-align: right; /* Выравнивание по правому краю */ 
       }
        .center {
        text-align: center; 
        width: 100%; /* Ширина текстового блока */ 
      }

    </style>
    <link rel="stylesheet" type="text/css" href="/media/css/main.css" /> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
</head>
<body>
    <div class="main">
        <div class="header_big">
			<div class="hello">
				Hi, {{ worker.fio }}
			</div>
			<div class="to_main">
				{% ifnotequal path "+" %}
					<a href="/">To main</a>
				{% endifnotequal %}
			</div>
			<div class="logout">
				<a href="/accounts/logout/">Logout</a>
			</div>
			<div class="language">
				<a href="/language/ru/{{path}}">ru</a> | <a href="/language/eng/{{path}}">eng</a>
			</div>
			<div class="">
			
			</div>
			<div class="version">
				<a target="_new" href="/media/versions.html">v0.0.2a</a>
			</div>
        </div>
		<div class="separator">
		</div>
        {% block content %}{% endblock %}        
    </div>
</body>
</html>