{% extends "base.html" %}
{% block title %}
    Редактирование заказа: {{claim.id}}
{% endblock %}
{% block style %}
    <style>
       .leftstr, .rightstr {
        float: left; /* Обтекание справа */ 
        width: 50%; /* Ширина текстового блока */ 
       }
       .rightstr {
        text-align: right; /* Выравнивание по правому краю */ 
       }
       .author {
        text-align: right; /* Выравнивание по правому краю */ 
        width: 100%;
       }
       @page {size:'landscape;'} 
      </style>
{% endblock %}
{% block content %}
    {% if form.errors %}
       {{form.errors}} 
    {% endif %}
    
    <form method='post' action=''>
    {% csrf_token %}
    <table border=1>
        {{form.as_table}}
    </table>
        <input type="submit" value="Готово" name="edited" /> 
    </form>
{% endblock %}