<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5//EN>
<html lang="ru">
<head>
    <title>Вход в систему</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
</head>
<body>
{% if form.errors %}
    <p class="error">Неверное имя или пароль</p>
{% endif %}
<input type="button" onclick="ru()" value="ru" /><input type="button" onclick="eng()" value="en" />
<form action="" method="post">
    {% csrf_token %}
    <label for="username">Имя пользователя:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Пароль:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="/language/ru/+" />
</form>
<script>
    function ru(){
        $("label")[0].textContent="Имя пользователя";
        $("label")[1].textContent="Пароль";
        $("input")[5].value="Вход"
        $("input")[6].value="/language/ru/+"
    }
    function eng(){
        $("label")[0].textContent="Login";
        $("label")[1].textContent="Password";
        $("input")[5].value="Sing in"
        $("input")[6].value="/language/eng/+"
    }
</script>
</body></html>