{% extends "ENG/base.html" %}
{% block title %}
New user

{% endblock %}
{% block content %}

{% if form.errors %}
    <p class="error">Wrong user name or password</p>
{% endif %}
<h1>Create new user</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Register" />
</form>
<script>
    function eng(){
        $("label[for=id_username]").text("Username")
        $("label[for=id_password1]").text("Password")
        $("label[for=id_password2]").text("Repeat password")
    }
	$(document).ready(eng);
</script>

{% endblock %}
